<!DOCTYPE html>
<html>

<head>
    <title>Catways</title>
</head>

<body>

    <h1>Gestion des Catways</h1>

    <a href="/dashboard/catways/new">➕ Ajouter</a>

    <table border="1" width="100%">
        <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>État</th>
            <th>Actions</th>
        </tr>

        <% catways.forEach(catway=> { %>
            <tr>
                <td><%= catway.catwayNumber %></td>
                <td><%= catway.type %></td>
                <td><%= catway.catwayState %></td>
                <td>
                    <a href="/dashboard/catways/edit/<%= catway._id %>">Modifier</a>

                    <form action="/dashboard/catways/delete/<%= catway._id %>" method="POST" style="display:inline;">
                        <button>Supprimer</button>
                    </form>
                </td>
            </tr>
        <% }) %>

    </table>

</body>

</html>
