<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Catways</title>
</head>

<body>

    <h1>Gestion des catways</h1>

    <a href="/dashboard/catways/new">➕ Ajouter</a>

    <table border="1" width="100%">
        <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>État</th>
            <th>Actions</th>
        </tr>

        <% catways.forEach(catway => { %>
            <tr>
                <td><%= catway.catwayNumber %></td>
                <td><%= catway.catwayType %></td>
                <td><%= catway.catwayState %></td>
                <td>
                    <a href="/dashboard/catways/edit/<%= catway._id %>">Modifier</a>

                    <form action="/dashboard/catways/delete/<%= catway._id %>" method="POST" style="display:inline;">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        <% }) %>

    </table>

</body>

</html>